* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #36384d;
}

.main {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 400px;
  width: 740px;
  border-radius: 30px;
  margin-top: 150px;
}

.left {
  width: 400px;
  height: 250px;
 
}

.left h1 {
  margin: 30px;
}

.left .p1 {
  margin: -15px 30px;
  line-height: 2.4vh;
}

.left span {
  margin-left: 40px;
  font-weight: 500;
}

.left input {
  background-color: #f7f7f7;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  height: 44px;
  width: 70%;
  margin-left: 40px;
  margin-top: 4px;
  text-align: center;
}

.left button {
  background-color: #232742;
  color: white;
  font-size: 13px;
  border-radius: 8px;
  height: 44px;
  width: 70%;
  margin-left: 40px;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
}

.i1 {
  margin-top: 30px;
  margin-left: 30px;
}

.i2 {
  margin-top: 15px;
  margin-left: 30px;
}

.i3 {
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 300px;
  height: 90%;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
    height: auto;
    width: 90%;
  }

  .left, .right {
    width: 100%;
    height: auto;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left h1, .left .p1, .i1, .i2, .i3 {
    margin: 10px 30px 10px 30px;
  }
  .left span{
    margin-left: -30%; 
    margin-bottom: 5px;
  }
 #ipt{
    margin-left: 15%;  
 }
 
  .left h1 {
    margin: 20px 0;
  }

  .right img {
    width: 100%;
    height: auto;
  }
}

